django-stubs
djangorestframework-stubs
ipython
ipdb
flake8
flake8-isort
flake8-comprehensions
flake8-debugger
flake8-print
flake8-tuple
mypy
pylint<2.14
pylint-django
pylint_enums
pytest
pytest-django
pytest-cov
pyyaml
pip-tools
